
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Mont;
  src: url("/fonts/Mont-Regular.otf") format("opentype");
  src: url("/fonts/Mont-Regular.otf") format('woff2');
  src: url("/fonts/Mont-Light.otf") format("opentype");
  src: url("/fonts/Mont-Light.otf") format('woff2');
  src: url("/fonts/Mont-Black.otf") format("opentype");
  src: url("/fonts/Mont-Black.otf") format('woff2');
  src: url("/fonts/Mont-Bold.otf") format("opentype");
  src: url("/fonts/Mont-Bold.otf") format('woff2');
  src: url("/fonts/Mont-SemiBold.otf") format("opentype");
  src: url("/fonts/Mont-SemiBold.otf") format('woff2');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #1A1921;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  @apply font-montserrat overflow-auto text-white bg-[#1A1921] ;
}

main{
  place-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
  height: min-content;
  @apply bg-[#1A1921] relative w-full h-full flex flex-col gap-8 p-4 md:p-8 mx-auto justify-center;
}

textarea:focus, input:focus{
  outline: none;
}

.react-grid-placeholder {
  @apply border-2 border-dashed border-white !bg-transparent rounded-2xl z-10;
}
.react-draggable-dragging {
  @apply shadow-lg;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.react-grid-item .react-resizable-handle {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.react-grid-item:hover .react-resizable-handle {
  opacity: 1;
  animation: fadeIn 0.2s;
}
.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.6) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6) !important;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se{
  @apply !bottom-4 !right-4;
}


/* General scrollbar styles */
::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(10%, 10%, 13%, 0.2%); 
  opacity: 0.5;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 14px; /* Add rounded corners to the scrollbar thumb */
  border: 2px solid transparent; /* Add a border to the scrollbar thumb for a more polished look */
  background-clip: content-box; /* Clip the background to the content box, ensuring the border remains visible */
  transition: opacity 0.2s ease-in-out;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Change the color of the scrollbar thumb when hovered */
}

/* Active effect */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.25); /* Change the color of the scrollbar thumb when clicked */
}

